<template>
  <h1>Feathers Test</h1>
  <div>app.authenticated=${authenticated}</div>
  <li>
    <input value.bind="email" type="text" value="" placeholder="Email address"/>
    <button click.delegate="createUser()">Create User</button> creates with password= test
  </li>
  <li>
    <button click.delegate="login()">login</button>
  </li>
  <li>
    <button click.delegate="logout()">logout</button>
  </li>
</template>
